:root {
  --main-color: blue;
  --main-color2: red;
}

* {
  box-sizing: border-box;
}

i {
  color: black;
}
.menu ul li a:hover {
  color: tomato;
  /* font-size: 20px; */
}

.menu ul li a {
  font-family: "Padauk", serif;
  font-size: 18px;
  color: black;
}

.info {
  font-family: "Padauk", serif;
  font-size: 23px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 80%;
  margin: auto;
  display: flex;
}

.hero {
  background-color: white;
  height: 100vh;
  /* background: url(img/bg-image.jpeg); */
  /* background-size: 100%; */
}

.info {
  flex: 1;
}

.profile-img {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* .skill {
  background: tomato;
} */

.skill-title {
  font-family: "Rampart One", serif;
  font-size: 2rem;
  text-align: center;
  background: tomato;
}
.skills-list {
  font-size: 2.5rem;
  font-family: "Padauk", serif;
}
/* ==================================icon color======================================== */
.fa-html5 {
  color: red;
}
.fa-css3-alt {
  color: blue;
}
.fa-js-square {
  color: rgb(255, 255, 0);
}
.fa-react {
  color: rgb(82, 82, 255);
}
.fa-node {
  color: green;
}
.fa-database {
  color: rgb(168, 255, 203);
}
.fa-cube {
  color: rgb(96, 150, 96);
}
.fa-bootstrap {
  color: rgb(255, 83, 255);
}
/* ==================================icon color======================================== */

.skills-list {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  padding: 50px;
  margin: 50px;
}
