:root {
  --main-color: blue;
  --main-color2: red;
}

* {
  box-sizing: border-box;
}

i {
  color: black;
}
.menu ul li a:hover {
  color: tomato;
  /* font-size: 20px; */
  text-shadow: 1px 1px 1px goldenrod;
}

.menu ul li a {
  font-family: "Padauk", serif;
  font-size: 18px;
  color: black;
}

.info {
  font-family: "Padauk", serif;
  font-size: 23px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul li {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  width: 80%;
  margin: auto;
  display: flex;
}

.hero {
  background-color: white;
  height: 100vh;
  /* background: url(img/bg-image.jpeg); */
  /* background-size: 100%; */
}

/* .info {
  display: flex;
  flex: 1;
} */

.profile-img {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.skill-title {
  font-family: "Rampart One", serif;
  font-size: 2rem;
  text-align: center;
  background: tomato;
}

.project-title {
  font-family: "Rampart One", serif;
  font-size: 2rem;
  text-align: center;
  background: rgb(246, 255, 71);
}

.about-me-title {
  font-family: "Rampart One", serif;
  font-size: 2rem;
  text-align: center;
  background: rgb(71, 169, 255);
}

/* ==================================icon color======================================== */
.fa-html5 {
  color: red;
}
.fa-css3-alt {
  color: blue;
}
.fa-js-square {
  color: rgb(255, 255, 0);
}
.fa-react {
  color: rgb(82, 82, 255);
}
.fa-node {
  color: green;
}
.fa-database {
  color: rgb(168, 255, 203);
}
.fa-cube {
  color: rgb(96, 150, 96);
}
.fa-bootstrap {
  color: rgb(255, 83, 255);
}
/* ==================================icon color======================================== */

.skills-list {
  font-size: 2.5rem;
  font-family: "Padauk", serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  margin: 50px;
}
.project-1 {
  padding-left: 180px;
  padding-right: 100px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  font-family: "Padauk", serif;
}

.project-2 {
  padding-left: 180px;
  padding-right: 100px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  font-family: "Padauk", serif;
}

.project-3 {
  padding-left: 180px;
  padding-right: 100px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  font-family: "Padauk", serif;
}

.pic img {
  border-radius: 3%;
  box-shadow: 2px 4px;
}

.about-me-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Padauk", serif;
  gap: 10px;
}

.first {
  text-align: center;
  width: 110px;
  background-color: rgb(185, 255, 188);
  border-radius: 5px;
}

.second {
  text-align: center;
  width: 280px;
  background-color: rgb(230, 222, 222);
  border-radius: 5px;
}

.third .signature {
  font-family: "Allison", serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}
